@page
@model Ganaderia.App.Presentacion.Pages.DetailModel
@{
}


<ul class="list-group">
  <li class="list-group-item">@Model.ganaderoEncontrado.Nombres</li>
  <li class="list-group-item">@Model.ganaderoEncontrado.Apellidos</li>
  <li class="list-group-item">@Model.ganaderoEncontrado.NumeroTelefono</li>
  <li class="list-group-item">@Model.ganaderoEncontrado.Direccion</li>
  <li class="list-group-item">@Model.ganaderoEncontrado.Correo</li>
  <li class="list-group-item">@Model.ganaderoEncontrado.Latitude</li>
  <li class="list-group-item">@Model.ganaderoEncontrado.Longitud</li>
</ul>